html {
	scroll-behavior: smooth;
}

body {
	margin: 0 !important;
}


.SkillBox {
	display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 20px;
}

.CardContainer {
	max-width: 800px;
	width: 100%;
	height: 100%;
	border-radius: 16px;
	margin: 50px 12px;
	height: min-content;
	max-height: 80%;
	background-color: #1c1c27;
	color: #f2f3f4;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	position: absolute;
	gap: 20px;
	z-index: 99;
	border: solid 1px #8400ff;
	@media(max-height:600px){
		width: 100%;
		height: 100%;
	}
}

.FormWrapper {
	background: #1c1c27;
	border: solid 0.5px #8400ff;
	width: 60%;
	height: auto;
	padding: 30px;
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 20px;
	border-radius: 18px;
	box-shadow: "#175ce626 0px 4px 24px";
	@media (max-width: 600px) {
		width: 95%;
	}
}

.left-hero {
	@media (max-width: 600px) {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

.NavMobileItems {
	width: 100%;
	height: auto;
	background-color: #1C1C27;
	position: absolute;
	top: 8vh;
	left: 0;
	padding: 50px 0px;
	z-index: 99;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
}

